<?xml version="1.0"?>

<launch>


  <arg name="rviz" default="true" />

  <!-- OS1 Paramaters -->
  <arg name="os1_hostname" default="os1-991901000601.local"/>
  <arg name="os1_udp_dest" default="192.168.10.1"/>
  <arg name="lidar_mode" default="1024x10" />
  <arg name="os1_image" default="true" />
  <arg name="os1_viz" default="false" />


    <!-- Spawn OS1 ROS node -->
    <include file="$(find ouster_ros)/os1.launch">
      <arg name="os1_hostname" value="$(arg os1_hostname)" />
      <arg name="os1_udp_dest" value="$(arg os1_udp_dest)" />
      <arg name="lidar_mode" value="$(arg lidar_mode)" />
      <arg name="image" value="$(arg os1_image)" />
      <arg name="viz" value="$(arg os1_viz)" /> 
    </include>
  

   <!-- Spawn Camera Driver node --> 
    <include file="$(find openMV_cam)/launch/openmv_cam.launch"/>

   <!-- IMU Complimentary Filter -->
  <node name="imu_complementary_filter" pkg="imu_complementary_filter" type="complementary_filter_node">
    <remap from="imu/data_raw" to="/os1_cloud_node/imu" />
    <param name="fixed_frame" value="os1_sensor"/> 
    <param name="publish_tf" value="true"/> 
    <param name="publish_debug_topics" value="true"/> 
  </node>


  <!-- Load RVIZ -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find rover_teleop)/rviz/rc_base.rviz" />




</launch>
