<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      rc_calibrate.launch
\authors   Wil Selby <accounts@wilselby.com>
\copyright Copyright (c) 2017, All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * The name of the contributors may not be used to endorse or promote products derived from this software 
   without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<launch>

  <arg name="record" default="false" />
  <arg name="web_app" default="true" />
  <arg name="rviz" default="false" />
  <arg name="replay" default="false" />

  <!-- Set time parameter if replaying data -->
  <param name="/use_sim_time" value="true" if="$(arg replay)" />

  <group unless="$(arg replay)">
    <!-- Load Joystick node  -->
    <include file="$(find rover_teleop)/launch/rover_teleop.launch">
      <arg name="joy_dev" value="/dev/input/js0" />
      <arg name="max_linear_vel" default="0.15" />  <!-- max: 0.2 -->
      <arg name="max_angular_vel" default="1.57" /> <!-- max: 1.57 -->
    </include> 
    
    <!-- Load the Arduino node -->
    <node respawn="true" pkg ="rosserial_python" type="serial_node.py" name="PCA9685_node">
      <param name="port" value="/dev/arduino_uno"/>
      <param name="baud" value="57600"/> 
    </node>

  </group>

  <!-- Load Rover Control information --> 
  <include file="$(find rover_control)/launch/rc_control.launch"> 
    <arg name="ekf" value="false"/> 
  </include>

  <!-- Load RVIZ -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find rover_teleop)/rviz/rc_base.rviz" />

  <!-- Run the Web App-->
  <group if="$(arg web_app)">
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    <node respawn="true" pkg="web_video_server" type="web_video_server" name="web_video_server" />
    <node respawn="true" pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" />
  </group>
  
  <!-- Record data  -->
  <node pkg="rosbag" type="record" name="rosbag_record_all"
    args="-a -o $(find rover_teleop)/data/rc"
    if="$(arg record)" />   


</launch>
