/rover_ml/mycreds.txt
/rover_ml/client_secrets.json
/rover_ml/data/*
!/rover_ml/data/.keep
/rover_ml/output/*
!/rover_ml/output/.keep
/rover_ml/behavior_cloning/weights
!/rover_ml/behavior_cloning/weights
/rover_ml/behavior_cloning/src/behavior_cloning/*.h5
/rover_ml/behavior_cloning/src/behavior_cloning/*.hdf5
/rover_teleop/data/*
!/rover_teleop/data/.keep
/rover_cv/lane_detection/*.bag
/rover_cv/utility/*
!/rover_cv/utility/.keep
*.bag
*~
*.pyc
*.swp
*.bak
*.hdf5
*.h5
