<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      rover_center_line_conde.launch
\authors   Wil Selby <accounts@wilselby.com>
\copyright Copyright (c) 2017, All rights reserved.


Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the 
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * The name of the contributors may not be used to endorse or promote products derived from this software 
   without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<launch>

  <arg name="camera_enabled" default="true" />
  <arg name="laser_enabled" default="false"/>
  <arg name="ur5_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>

<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
<!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rover_gazebo)/worlds/conde_world.world"/>  -->
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn DIY Rover Model -->
  <include file="$(find rover_gazebo)/launch/spawn/spawn_rover_conde.launch"> 
   <arg name="camera_enabled" value="$(arg camera_enabled)"/>
   <arg name="laser_enabled" value="$(arg laser_enabled)"/>
   <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
   <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
  </include>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Load Joystick node  -->
  <include file="$(find rover_teleop)/launch/rover_teleop.launch"/> 

  <!-- Load Rover Control information -->
  <include file="$(find rover_control)/launch/rover_control_gazebo.launch"/> 

  <!-- Run Lane Detection Node -->
  <node name="center_line_detection" pkg="lane_detection" type="center_line_detection.py" output="screen" /> 

  <!-- spawn image viewer for lane detection output -->
    <node pkg="image_view" type="image_view" name="output_image_view" >
      <remap from="image" to="/image_converter/output_video" />
    </node>

  <!-- Spawn Image Viewer node
  <node name="image_view" pkg="image_view" type="image_view" if="$(arg display_cam)" >
    <remap from="image" to="/raspicam_node/image/image_raw" />
  </node>
-->

</launch>
